@import "../../mixins";

.big-icon__container {

    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    .icon-label {
        @include Label;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
    }
}